
* {
    box-sizing: border-box;
}

body {
    background: skyblue;
    margin: 0;
}

.tower {
    background: #c40c02;
    top: 380px;
    left: 224px;
    height: 219px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.box1 {
    background: #5c5b59;
    top: 455px;
    left: 375px;
    height: 90px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    border-radius: 2px;
    border: 8px #805034;
    border-style: solid;
}

.box2 {
    background: #5c5b59;
    top: 455px;
    left: 550px;
    height: 90px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    border-radius: 2px;
    border: 8px #805034;
    border-style: solid;
}

.box3 {
    background: #5c5b59;
    top: 455px;
    left: 980px;
    height: 90px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    border-radius: 2px;
    border: 8px #805034;
    border-style: solid;
}

.box {
    background: #968b8a;
    top: 340px;
    left: 224px;
    height: 43px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    border-radius: 2px;
}

.boxs {
    background: #5c5b59;
    top: 340px;
    left: 224px;
    height: 12px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    border-radius: 2px;
}

.pb1 {
    background: #c78965;
    top: 250px;
    left: 350px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb2 {
    background: #2e5b87;
    top: 280px;
    left: 351px;
    height: 51px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb3 {
    background: black;
    top: 330px;
    left: 351px;
    height: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb4 {
    background: #c78965;
    top: 300px;
    left: 348px;
    height: 10px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    rotate: 88deg;
}

.pb5 {
    background: #c78965;
    top: 250px;
    left: 1010px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb6 {
    background: #f50202;
    top: 280px;
    left: 1014px;
    height: 51px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb7 {
    background: black;
    top: 330px;
    left: 1009px;
    height: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb8 {
    background: #c78965;
    top: 300px;
    left: 1012px;
    height: 10px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    rotate: 92deg;
}

.pb9 {
    background: black;
    top: 260px;
    left: 1013px;
    height: 4px;
    width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}

.pb10 {
    background: black;
    top: 260px;
    left: 373px;
    height: 4px;
    width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
}
