@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(121,28,158);
}

a {
    color: navy;
}

h1 {
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tilt Prism", sans-serif;
    font-size: 50px;
    margin-top: 60px;
    text-shadow: 4px 4px black;
}

.line {
    background: #e6e3e1;
    height: 1.5px;
    width: 500px;
    margin-left: 429px;
    margin-top: -160px;
    border-radius: 10px;
}

.screen {
    display: flex;
    flex-direction: row;
    position: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.box:hover {
    box-shadow: 0px 1px #c7a74e;
}

.box#search:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#loading:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#expanding:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#event:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#interactive:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#sound:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#navigation:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#insect:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.box#search {
    background: #dbdbdb;
    padding: 5px;
    width: 78px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#loading {
    background: #dbdbdb;
    padding: 5px;
    width: 86px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#expanding {
    background: #dbdbdb;
    padding: 5px;
    width: 103px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#event {
    background: #dbdbdb;
    padding: 5px;
    width: 72px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#interactive {
    background: #dbdbdb;
    padding: 5px;
    width: 163px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#sound {
    background: #dbdbdb;
    padding: 5px;
    width: 75px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#navigation {
    background: #dbdbdb;
    padding: 5px;
    width: 105px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.box#insect {
    background: #dbdbdb;
    padding: 5px;
    width: 73px;
    border-radius: 3px;
    margin: 15px;
    border: 3px solid #333333;
}

.secret {
    color: rgb(121,28,158);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
