* {
    box-sizing: border-box;
}

.back {
    z-index: 100;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #888888;
}

.box {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: blue;
    border-radius: 50px;
    font-size: 8px;
    color: white;
}

#element {
    position: relative;
    top: 0px;
    right: 0px;
}

